<h1>You have access to this page, <%= current_user.name %></h1>
<% if current_user.user_type == 'Student'%>
	Create student profile <br>
	Upload resume <br>
<% else %>
	Create company profile <br>
	Access Resumes <br>
<% end %>
<%= button_to "Back", '/welcome', method: :get%>
