<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1>
			Welcome to the IEEE Resume Book, <%= @user.name %>
		</h1>
		<p>
			You have successfully created your account at the IEEE Resume Book, and confirmed your email.
		</p>
		<p>
			Thank you for joining. Have a great day.
		</p>
	</body>
</html>